body {
    overflow-y: scroll;

}

.nav-menu:hover {
    background-position: 100% 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-weight: 500;
    font-size: 1.1rem;
    /*    фиксированный размер текста*/


}

.logo {
    filter: brightness(0) invert(1);
}

body > *:nth-child(2) {
    margin-top: 5rem;
}

.nav-item {
    position: relative;
    overflow: hidden;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #00aaff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-item:hover::after {
    transform: translateX(0);
}

.nav-item:hover {
    color: #00aaff;
    transition: color 0.3s ease;
}

.active {
    color: #00aaff;
}

.active::after {
    transform: translateX(0);
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-item {
        display: block;
        text-align: center;
        padding: 1rem;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }
}

.burger-menu {
    display: none;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }
}
