body {
    overflow-y: scroll;

}

.nav-menu:hover {
    background-position: 100% 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-weight: 500;
    font-size: 1.1rem;
    /*    фиксированный размер текста*/


}

.logo {
    filter: brightness(0) invert(1);
}

body > *:nth-child(2) {
    margin-top: 5rem;
}

.nav-item {
    position: relative;
    overflow: hidden;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #00aaff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-item:hover::after {
    transform: translateX(0);
}

.nav-item:hover {
    color: #00aaff;
    transition: color 0.3s ease;
}

.active {
    color: #00aaff;
}

.active::after {
    transform: translateX(0);
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background:white;
        box-shadow:
            0 6px 38px 0 rgba(0, 40, 100, 0.12),
            0 2.5px 22px 0 rgba(0,121,194,0.09),
            0px 0.5px 0px 0px rgba(0,0,0,0.02);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 999;
        display: none;
    }
    
    .nav-menu:not(.mobile-hidden) {
        display: flex !important;
    }

    

    .nav-item {
        display: block;
        text-align: center;
        padding: 1.2rem 1rem;
        width: 100%;
        color: #000;
        font-weight: 500;
        font-size: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        background: rgba(0, 121, 194, 0.1);
        color: #0079c2;
    }

    .nav-item.active {
        position: relative;
        color: #0079c2;
        font-weight: 700;
        background: rgba(0, 120, 194, 0);
        border-radius: 0.375rem;
        z-index: 1;
        overflow: hidden;
    }

    .nav-item.active::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(135deg, rgba(0, 121, 194, 0.25), rgba(0, 121, 194, 0.10));
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border-radius: 0.375rem;
        z-index: -1;
        transition: background 0.3s ease;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        z-index: 1000;
        color: #000;
    }
}

.burger-menu {
    display: none;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }
}
