{% extends 'base.html' %}
{% load static %}

{% block title %}Достижения{% endblock %}

{% block content %}

<div class="bg-blue-100 flex flex-col items-center justify-center min-h-screen"
    x-data="{ tab: '2022-2024', open: false, imageUrl: '' }">
<h1 class="text-4xl w-full font-bold text-center text-white mt-8 mb-4 p-4 bg-gradient-to-r from-blue-400 to-blue-500 rounded-lg shadow-lg animate__animated animate__fadeInDown">
    Достижения
</h1>
<div class="w-full max-w-4xl mx-auto px-4 py-6">
    <ul class="flex flex-wrap text-sm text-xl font-semibold text-center text-gray-500 dark:text-gray-400">
        <li class="me-2">
            <a :class="{'bg-blue-600 text-white': tab === '2022-2024'}" @click.prevent="tab = '2022-2024'" class="inline-block px-4 py-3 rounded-lg" href="#">2022-2024</a>
        </li>
        <li class="me-2">
            <a :class="{'bg-blue-600 text-white': tab === '2023-2025'}" @click.prevent="tab = '2023-2025'" class="inline-block px-4 py-3 rounded-lg" href="#">2023-2025</a>
        </li>
    </ul>
</div>
<div class="w-full max-w-4xl mx-auto animate__animated animate__fadeIn">
    <div class="animate__animated animate__fadeIn" x-show="tab === '2022-2024'">
        <div class="bg-white p-6 rounded-lg shadow-lg mb-4 wow animate__animated animate__fadeIn">
            <h2 class="text-2xl font-bold mb-6">Медалисты</h2>
            <div class="bg-yellow-100 p-4 rounded-lg shadow-md mb-4 wow animate__animated animate__fadeInUp">
                <div class="flex items-center mb-2">
                    <div class="bg-yellow-400 rounded-full p-4 text-3xl wow animate__animated animate__zoomIn">🥇</div>
                    <div class="ml-4">
                        <h3 class="text-lg font-bold">Рыбаков Евгений, Востриков Данила</h3>
                        <p>1 место в секции «Бурение нефтяных и газовых скважин»</p>
                        <p>XV Международный научно-технический конгресс «WEST SIBERIAN PETROLEUM CONGRESS»</p>
                    </div>
                </div>
            </div>
            <div class="bg-yellow-100 p-4 rounded-lg shadow-md wow animate__animated animate__fadeInUp">
                <div class="flex items-center mb-2">
                    <div class="bg-yellow-400 rounded-full p-4 text-3xl wow animate__animated animate__zoomIn">🥉</div>
                    <div class="ml-4">
                        <h3 class="text-lg font-bold">Егорова Анжелика</h3>
                        <p>3 место в секции «Разработка нефтяных, газовых и нефтегазоконденсатных месторождений»</p>
                        <p>XV Международный научно-технический конгресс «WEST SIBERIAN PETROLEUM CONGRESS»</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
            <h2 class="text-2xl font-bold mb-6">Научная деятельность</h2>
            <div class="flex justify-between items-center mb-4">
                <div class="text-6xl font-bold text-blue-500">28</div>
                <div class="ml-4">
                    <p>Тезисов</p>
                    <p>опубликовано в сборниках международных научно-технических конференций</p>
                </div>
            </div>
            <div class="flex justify-between items-center mb-4">
                <div class="text-6xl font-bold text-blue-500">5</div>
                <div class="ml-4">
                    <p>Научных публикаций</p>
                    <p>опубликовано в сборниках международных научно-технических конференций</p>
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div class="text-6xl font-bold text-blue-500">1</div>
                <div class="ml-4">
                    <p>Статья ВАК</p>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
            <h2 class="text-2xl font-bold text-accent-color mb-6">Достижения профессиональной деятельности</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-project-diagram"></i> БЛОК ГРР</h3>
                    <p>Махнёв Станислав</p>
                    <ul class="list-disc pl-5">
                        <li>Участие в 6 проектах ГРР</li>
                        <li>Оформление более 50 графических приложений</li>
                        <li>Формирование глав проектных документов ГИН</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-flask"></i> БЛОК ГДМ</h3>
                    <p>Айнитдинов Руслан, Сулимов Сергей</p>
                    <ul class="list-disc pl-5">
                        <li>Участие в обобщении результатов газоконденсатных исследований по 30 скважинам</li>
                        <li>Создание макросов для обработки результатов определения составов пластовых флюидов и .pvo файлов</li>
                        <li>Участие в подготовке PVT-модели двух залежей месторождения, подготовка 4 PVT-моделей по ЯНГКМ</li>
                        <li>Оценка запасов пластового газа и стабильного конденсата в рамках неопределенности подсчётных параметров</li>
                        <li>Участие в экспертной оценке гидродинамических моделей месторождений</li>
                        <li>Участие в двух проектах по освоению месторождений</li>
                        <li>Участие в подготовке цифровых гидродинамических моделей двух залежей месторождения, подготовка 4 элементов гидродинамических моделей по ЯНГКМ</li>
                        <li>Участие в подготовке показателей разработки по ряду месторождений</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-layer-group"></i> БЛОК ГМ</h3>
                    <p>Ревнивых Владислав</p>
                    <ul class="list-disc pl-5">
                        <li>Построение 5 геологических моделей пластов АЧс8_1, АЧс8_2, АЧс8_3, АЧс9_0, АЧс9_1 ачимовских отложений Ямбургского НГГКМ</li>
                        <li>Участие в проведении ВОРБ Малыгинского месторождения, построение 300 вариантов моделей для пластов ТП, ПК, АЧ, Юя</li>
                        <li>Проведение фациального анализа по 28 пластам ачимовской толщи по комплексу методов ГИС Ямбургского НГКМ</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-tasks"></i> БЛОК ГДИ</h3>
                    <p>Егорова Анжелика</p>
                    <ul class="list-disc pl-5">
                        <li>Составление фрак-листа Ямбургского и Ковыктинского НКГМ</li>
                        <li>Интерпретация ГДИС ГС с МГРП 80 скважин</li>
                        <li>Участие в подготовке отчетов и сопроводительной документации в фонд НИОКР</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-digital-tachograph"></i> БЛОК цифровизация</h3>
                    <p>Метальникова Валерия</p>
                    <ul class="list-disc pl-5">
                        <li>Моделирование 30 дизайнов ГРП</li>
                        <li>Построение 40 1D геомеханических моделей</li>
                        <li>Создание базы данных по Ямбургскому месторождению</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
            <h2 class="text-2xl font-bold mb-2">Галерея</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <img alt="" class="h-auto max-w-full rounded-lg" src="{% static 'img/students/student_achievement1.png' %}">
                        </div>
                        <div>
                            <img alt="" class="h-auto max-w-full rounded-lg" src="{% static 'img/students/student_achievement2.png' %}">
                        </div>
                    </div>
                </div>
                <div class="max-w-4xl mx-auto py-6 px-4 mb-4 sm:px-6 lg:px-8"
            x-data="{
                current: 0,
                images: [
                    '{% static 'img/achievements/student-goal-1.jpg' %}',
                    '{% static 'img/achievements/student-goal-2.jpg' %}',
                    '{% static 'img/achievements/student-goal-3.jpg' %}',
                    '{% static 'img/achievements/student-goal-4.jpg' %}',
                    '{% static 'img/achievements/student-goal-5.jpg' %}',
                    '{% static 'img/achievements/student-goal-6.jpg' %}',
                    '{% static 'img/achievements/student-goal-7.jpg' %}',
                ],
                next() { this.current = (this.current + 1) % this.images.length },
                prev() { this.current = (this.current - 1 + this.images.length) % this.images.length }
            }">

            <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <i class="fas fa-graduation-cap text-indigo-500 text-5xl"></i>
                    </div>
                    <div class="ml-6">
                        <h2 class="text-3xl font-extrabold text-gray-900">
                            Достижение студентами целевых показателей
                        </h2>
                        <p class="mt-4 mb-8 text-lg leading-6 text-gray-500">
                            За два года обучения на Базовой кафедре магистранты приобрели не только
                            бесценные знания, но и стали настоящими профессионалами своего дела!
                            Представляем вашему вниманию научные и производственные достижения ребят!
                        </p>
                    </div>
                </div>

                <div class="mt-8 relative w-full achievements-slider">
                    <div class="achievements-slide">
                        <template x-for="(image, index) in images" :key="index">
                            <img
                                x-show="current === index"
                                :src="image"
                                :alt="'Achievement ' + (index + 1)"
                                class="transition-opacity duration-500"
                            >
                        </template>
                    </div>

                    <button
                        type="button"
                        @click="prev"
                        class="absolute top-1/2 left-2 -translate-y-1/2 bg-white/80 hover:bg-white text-gray-700 rounded-full w-10 h-10 flex items-center justify-center shadow"
                    >
                        ‹
                    </button>
                    <button
                        type="button"
                        @click="next"
                        class="absolute top-1/2 right-2 -translate-y-1/2 bg-white/80 hover:bg-white text-gray-700 rounded-full w-10 h-10 flex items-center justify-center shadow"
                    >
                        ›
                    </button>

                    <div class="mt-4 flex justify-center space-x-2">
                        <template x-for="(image, index) in images" :key="'dot-' + index">
                            <button
                                type="button"
                                @click="current = index"
                                class="w-3 h-3 rounded-full"
                                :class="current === index ? 'bg-blue-600' : 'bg-gray-300'"
                            ></button>
                        </template>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="animate__animated animate__fadeIn" x-show="tab === '2023-2025'">
        <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
            <h2 class="text-2xl font-bold mb-2 ">Научная деятельность</h2>
            <div class="flex justify-between items-center mb-4">
                <div class="text-6xl font-bold text-blue-500">18</div>
                <div class="ml-4">
                    <p>тезисов</p>
                    <p>опубликовано в сборниках международных научно-технических конференций</p>
                </div>
            </div>
            <div class="flex justify-between items-center mb-4">
                <div class="text-6xl font-bold text-blue-500">10</div>
                <div class="ml-4">
                    <p>научных публикаций</p>
                    <p>опубликовано в сборниках международных научно-технических конференций</p>
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div class="text-6xl font-bold text-blue-500">1</div>
                <div class="ml-4">
                    <p>учебное пособие</p>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
            <h2 class="text-2xl font-bold text-accent-color wow animate__fadeInDown mb-6">Достижения профессиональной деятельности</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-project-diagram"></i> БЛОК ГРП ГММ</h3>
                    <p>Вологдин Семен, Мокина Дарья, Изосимов Игорь</p>
                    <ul class="list-disc pl-5">
                        <li>расчет эффекта от применения ГРП на более чем 100 скважин</li>
                        <li>Интерпретация ГДИ 40 скважин</li>
                        <li>Актуализация 10 секторных геомеханических моделей</li>
                        <li>Участие в написании глав по Авторскому надзору</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-chart-line"></i> БЛОК ТЭП</h3>
                    <p>Теребенина Екатерина, Кряжев Андрей</p>
                    <ul class="list-disc pl-5">
                        <li>Участие в разработке ТЭП для более 20 участков недр и лицензионных участков</li>
                        <li>Интерпретация ГДИ для 14 скважин</li>
                        <li>Участие в разработке ТЭП Синского ЛУ, лицензия по которому была приобретена ПАО «Газпром» в декабре 2023 г., на основании выполненного технико-экономического обоснования освоения</li>
                        <li>Разработка комплексных сценариев освоения для двух новых центров газодобычи</li>
                    </ul>
                </div>
                <div class="bg-gradient-to-r-block p-4 rounded-lg wow animate__fadeIn">
                    <h3 class="text-lg font-bold"><i class="fas fa-tools"></i> БЛОК наземного обустройства</h3>
                    <p>Шевченко Павел, Яковленко Александр</p>
                    <ul class="list-disc pl-5">
                        <li>Создание средств автоматизации для технологического моделирования систем сбора и промысловой подготовки углеводородов</li>
                        <li>Построение и адаптация технологических моделей систем сбора углеводородного сырья</li>
                        <li>Построение и адаптация технологических моделей процессов промысловой подготовки углеводородного сырья</li>
                        <li>Подготовка моделей флюидов для использования с технологическими моделями процессов промыслового сбора и подготовки углеводородного сырья</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
            <h2 class="text-2xl font-bold mb-2">Галерея</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <img alt="" class="h-auto max-w-full rounded-lg" src="{% static 'img/students/student_achievement3.png' %}">
                </div>
                <div>
                    <img alt="" class="h-auto max-w-full rounded-lg" src="{% static 'img/students/student_achievement4.png' %}">
                </div>
            </div>
        </div>
    </div>

</div>

</body>

{% endblock %}


{% block extra_scripts %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('gallery', () => ({
            open: false,
            imageUrl: '',
        }));
    });
</script>
{% endblock %}
